.Techniquespageh1{
    color:#ffb607;
    font-size: 40px;
    margin:30px;
}
.eachvideo{
    padding: 10px;
    border: dotted #ffb607;
    border-width: 10px 4px;
    border-radius: 10px 40px;
    height: 500px;
    width: 600px;
    margin-top: -200px;
}
/* style={{
                  height: "102px",
                  width: "80px",
                  padding: "2px",
                  border: "dotted #ffb607",
                  borderWidth: "10px 4px",
                  borderRadius: "10px 40px",
                }} */